@model IEnumerable<IMS.Models.Supplier>

@{
    ViewBag.Title = "Index";
    var supplier = new IMS.Models.Supplier();
}
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }

    th {
        text-align: center;
        vertical-align: middle;
    }
</style>
<h3>
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalCreate"><i class="fa fa-plus fa-2x"></i> ADD</button>
</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4> SUPPLIERS </h4>
            <h4><i class="fa fa-search-plus pull-right"></i></h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierContact)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierContact)
                                </td>
                                <td> 
                                    <a href="@Url.Action("Edit", "Supplier", new { id = item.SupplierId })" data-target="myModal"><i style="padding-right: 5px" class="fa fa-2x fa-share-square-o"></i></a>
                                    <i class="fa fa-edit fa-2x" data-toggle="modal" id=item.IncomeCategoryId data-target="#myModalEdit"></i>
                                    <i class="fa fa-trash-o fa-2x" data-toggle="modal" data-target="#myModalDelete" style="color: red"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div><!-- /row -->






<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @{
                Html.RenderPartial("Create", supplier);
            }
        </div>

    </div>
</div>

<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @{
                Html.RenderPartial("Edit", supplier);
            }
        </div>

    </div>
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>

            </div>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/Appjs/IMS.js"></script>

