@model IMS.Models.Stock

@{
    ViewBag.Title = "Details";
}



<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Deleting Stock</h3>
</div>

<!--MODAL BODY-->
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockName)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockName)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockCategory)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockCategory)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockBuyingPrice)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockBuyingPrice)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockSellingPrice)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockSellingPrice)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockSupplier)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockSupplier)
        </dd>

    </dl>
</div>

<!--MODAL FOOTER-->
    <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>


    