@model IMS.Models.Stock

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Stock</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.StockId)

        <div class="form-group">
            @Html.LabelFor(model => model.StockName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockName)
                @Html.ValidationMessageFor(model => model.StockName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockBuyingPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockBuyingPrice)
                @Html.ValidationMessageFor(model => model.StockBuyingPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockSellingPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockSellingPrice)
                @Html.ValidationMessageFor(model => model.StockSellingPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "CategoryId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupplierId, "SupplierId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SupplierId", String.Empty)
                @Html.ValidationMessageFor(model => model.SupplierId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
