@model IMS.Data.Objects.Entities.Admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminComfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminComfirmPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdminId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
