<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -kingsway</title>

    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />

    <link href="~/Content/table-responsive.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/to-do.css" rel="stylesheet" />
    <link href="~/Content/zabuto_calendar.css" rel="stylesheet" />

    <!--Date Picker-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />


</head>
<body>
    @using IMS.Models;
    @using IMS.DAL;
    @{


        IMS_DB db = new IMS_DB();
        var checkeee = Convert.ToBoolean(Session["mgnSupplier"]);
        var checkee = Convert.ToBoolean(Session["mgnStaff"]);


    }
    <section id="container">

        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="" class="logo">
                <img src="~/Content/Image/logo-bd.png" width="80" height="24" />
            </a>
            <!--logo end-->
            
            @if (checkee == true)
            {
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="">
                            <i class="fa fa-spinner"></i>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">SETTINGS</p>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Role")">
                                    <div class="task-info">
                                        <div class="desc">
                                            Role Manger
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AppUser")">
                                    <div class="task-info">
                                        <div class="desc">
                                            Staff Manger
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="task-info">
                                        <div class="desc">
                                            Logout
                                        </div>

                                    </div>
                                </a>
                            </li>
                            </ul>
                        

                    </li>
                </ul>
                </div>
            }
            else { }
        </header>

        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href=""><img src="~/Content/Image/fr-05.jpg" class="img-circle" width="60"></a></p>

                    <li class="mt">
                        <a class="active" href="@Url.Action("Index", "Dashboard")">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="@Url.Action("Index", "Category")">
                            <i class="fa fa-tasks"></i>
                            <span>Categories</span>
                        </a>
                    </li>
                    @if(checkeee == true)
                    {

                    
                    <li class="sub-menu">
                        <a href="@Url.Action("Index", "Customer")">
                            <i class="fa fa-desktop"></i>
                            <span>Customers</span>
                        </a>
                    </li>
                    }
                    else{ }
                    <li class="sub-menu">
                        <a href="@Url.Action("Index", "Supplier")">
                            <i class="fa fa-cogs"></i>
                            <span>Suppliers</span>
                        </a>
                        <!--ul class="sub">
                            <li><a href="calendar.html">Calendar</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="todo_list.html">Todo List</a></li>
                        </ul-->
                    </li>
                    <li class="sub-menu">
                        <a href="">
                            <i class="fa fa-book"></i>
                            <span>Stocks</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index", "Stock")">View Stock</a></li>
                            <li><a href="@Url.Action("Index", "Purchase")">Purchase Stock</a></li>
                            <li><a href="@Url.Action("Index", "Category")">Stock Avaliability</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="@Url.Action("Index", "Sale")">
                            <i class="fa fa-th"></i>
                            <span>Sales</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-money"></i>
                            <span>Payments</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>Outstanding</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-file-text"></i>
                            <span>Pending</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-th-list"></i>
                            <span>Reports</span>
                        </a>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->


        <section id="main-content">
            <section class="wrapper">

                <!--Rendering Body Start-->
                @RenderBody()

                <!--Rendering Body Start-->
            </section>
        </section>
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                &copy; @DateTime.Now.Year - Bizzdesk Global Group
                <a href="" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>


    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--JQuery 1.10.2-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
 
    <!--common script for all pages-->
    <script src="~/Scripts/common-scripts.js"></script>
    <script src="~/Scripts/jquery.gritter.js"></script>
    <script src="~/Scripts/gritter-conf.js"></script>

</body>

</html>
