@model IMS.Models.Role

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        <h4>Role</h4>
        <hr />
        
        @Html.HiddenFor(model => model.RoleId)

        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName)
                @Html.ValidationMessageFor(model => model.RoleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CanManageStaff, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CanManageStaff)
                @Html.ValidationMessageFor(model => model.CanManageStaff)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CanManageInventory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CanManageInventory)
                @Html.ValidationMessageFor(model => model.CanManageInventory)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CanManageSuppliers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CanManageSuppliers)
                @Html.ValidationMessageFor(model => model.CanManageSuppliers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CanManageCustomers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CanManageCustomers)
                @Html.ValidationMessageFor(model => model.CanManageCustomers)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
