@model IMS.Models.StockPurchase

@{
    ViewBag.Title = "Details";
}

<style>
    .padd{
        padding-left: 120px;
    }
</style>
<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Purchase Details</h3>
</div>

<!--MODAL BODY-->
<div class="modal-body">
    <dl class="dl-horizontal padd" >
        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockPurchaseBillNo)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPurchaseBillNo)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockPurchaseProductName)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPurchaseProductName)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockPurchaseSupplier)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPurchaseSupplier)
        </dd>

        <dt>
            <strong>Purchase @Html.DisplayNameFor(model => model.StockPurchaseDate)</strong>
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.StockPurchaseDate)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockPurchaseQuantity)</strong>
        </dt>


        <dd>
            @Html.DisplayFor(model => model.StockPurchaseQuantity)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockPurchaseDueDate)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPurchaseDueDate)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockPurchaseCostRate)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPurchaseCostRate)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockPurcahseBalance)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPurcahseBalance)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.StockPurchaseMode)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPurchaseMode)
        </dd>
    </dl>
</div>

<!--MODAL FOOTER-->
<div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal">Close</button>
</div>


