@model IEnumerable<IMS.Models.StockPurchase>

@{
    ViewBag.Title = "Index";
    var x = 1;
}
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }

    th {
        text-align: center;
        vertical-align: middle;
    }
</style>
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
    <a href="@Url.Action("Create", "StockPurchase")" class="btn btn-primary btn-sm pull-right" data-modal=""><i style="color: red;" class="fa fa-2x fa-plus"></i> Add</a>
</ul>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4> STOCK PURCHASES </h4>
            <h4><i class="fa fa-search-plus pull-right"></i></h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockPurchaseProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockPurchaseSupplier)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockPurchaseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockPurchaseDueDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockPurchaseBuyingTotal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockPurcahseBalance)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    SE@(x++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockPurchaseProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockPurchaseSupplier)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockPurchaseDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockPurchaseDueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockPurchaseBuyingTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockPurcahseBalance)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "StockPurchase", new { id = item.StockPurchaseId })" data-modal=""><i style="color: brown;" class="fa fa-2x fa-pencil"></i></a>
                                    <a href="@Url.Action("Edit", "StockPurchase", new { id = item.StockPurchaseId })" data-modal=""><i style="color: brown;" class="fa fa-2x fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "StockPurchase", new { id = item.StockPurchaseId })" data-modal=""><i style="color: red;" class="fa fa-2x fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div><!-- /row -->
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Appjs/IMS.js"></script>

