@using IMS.Models
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<IMS.Models.Purchase>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    var x = 1;
}
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }

    th {
        text-align: center;
        vertical-align: middle;
        color: blue;
    }
</style>
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
    <li>Purchase</li>
    <a href="@Url.Action("Create", "Purchase")" class="btn btn-primary btn-sm pull-right" data-modal=""><i style="color: red;" class="fa fa-2x fa-plus"></i> Add</a>
</ul>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4> PURCHASES </h4>
            @using (Html.BeginForm())
            {
                <h4 class="pull-right">
                    @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search" })
                </h4>
            }
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                @Html.ActionLink("Bill Number", "Index", new { sortOrder = ViewBag.PurcahseBillNoParm })
                            </th>
                            <th>
                                @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.PurchaseProductNameParm })
                            </th>
                            <th>
                                @Html.ActionLink("Supplier", "Index", new { sortOrder = ViewBag.PurchaseSupplierParm })
                            </th>
                            <th>
                                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.PurchaseDateParm })
                            </th>
                            <th>
                                Cost Total (N)	
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                @Html.ActionLink("Balance", "Index", new { sortOrder = ViewBag.PurchaseBalanceParm })
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(x++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseBillNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseSupplier)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseCostTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurchaseQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PurcahseBalance)
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Purchase", new { id = item.PurchaseId })" data-modal=""><i style="color: blue;" class="fa fa-2x fa-file-text-o"></i></a>
                                    <a href="@Url.Action("Edit", "Purchase", new { id = item.PurchaseId })" data-modal=""><i style="color: brown;" class="fa fa-2x fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "Purchase", new { id = item.PurchaseId })" data-modal=""><i style="color: red;" class="fa fa-2x fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <h4>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </h4>
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div><!-- /row -->
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/Appjs/IMS.js"></script>

