@model IEnumerable<IMS.Models.Customer>

@{
    ViewBag.Title = "Index";
    var customer = new IMS.Models.Customer();
    var x = 1;
}
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }
    th {
        text-align: center;
        vertical-align: middle;
    }
</style>
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
    <a href="@Url.Action("Create", "Customer")" class="btn btn-primary btn-sm pull-right" data-modal=""><i style="color: red;" class="fa fa-2x fa-plus"></i> Add</a>
 </ul>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4> CUSTOMERS </h4>
            <h4><i class="fa fa-search-plus pull-right"></i></h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerContact)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(x++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerContact)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Customer", new { id = item.CustomerId })" data-modal=""><i style="color: sandybrown;" class="fa fa-2x fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "Customer", new { id = item.CustomerId })" data-modal=""><i style="color: red;" class="fa fa-2x fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div><!-- /row -->

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/Appjs/IMS.js"></script>
