@model IEnumerable<IMS.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var customer = new IMS.Models.Customer();
    //var x = 1;
}
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }

    th {
        text-align: center;
        vertical-align: middle;
    }
</style>
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
    <a href="@Url.Action("Create", "Customer")" class="btn btn-primary btn-sm pull-right" data-modal=""><i style="color: red;" class="fa fa-2x fa-plus"></i> Add</a>
</ul>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4> CUSTOMERS </h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed" id="myTable">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerContact)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="@Url.Action("Index", "Product")"><i class="fa fa-share-square-o"></i></a>
                                <a href="@Url.Action("Edit", "Category")" data-modal=""><i style="color: sandybrown;" class="fa fa-edit"></i></a>
                                <a href="@Url.Action("Delete", "Category")" data-modal=""><i style="color: red;" class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>


<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>

            </div>
        </div>
    </div>
</div>


<link href="~/Content/Datatables/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/Appjs/IMS.js"></script>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>


<script>
    $(document)
        .ready(function () {
            $('#myTable')
                .DataTable({
                    "ajax": {
                        "url": "/customer/Loaddata",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "CustomerName", "autowidth": true },
                        { "data": "CustomerAddress", "autowidth": true },
                        { "data": "CustomerContact", "autowidth": true }
                    ]
                });
        });
</script>
