@model IEnumerable<IMS.Models.Customer>

@{
    ViewBag.Title = "Index";
    var customer = new IMS.Models.Customer();
}
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }
    th {
        text-align: center;
        vertical-align: middle;
    }
</style>
        <h3>
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalCreate"><i class="fa fa-plus fa-2x"></i> ADD</button>
        </h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4> CUSTOMERS </h4>
            <h4><i class="fa fa-search-plus pull-right"></i></h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerContact)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerContact)
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalEdit"><i class="fa fa-edit fa-2x"></i> Edit</button>
                                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModalDelete"><i class="fa fa-trash-o fa-2x "></i> Delete</button>
                                    <button data-toggle="modal" data-target="#myModal6"><i style="; color: blue; " class="fa fa-2x fa-edit"></i>EDIT</button>
                                    <a href="@Url.Action("Delete", "Customer", new { id = item.CustomerId })" data-modal=""><i style="color: red;" class="fa fa-2x fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div><!-- /row -->



        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-th"></i> </span>
                        <h5>Customers</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        #
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerAddress)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CustomerContact)
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerContact)
                                        </td>
                                        <td>
                                            <button data-toggle="modal" data-target="#myModal6"><i style="; color: blue; " class="fa fa-2x fa-edit"></i>EDIT</button>
                                            <a href="@Url.Action("Delete", "Customer", new { id = item.CustomerId })" data-modal=""><i style="color: red;" class="fa fa-2x fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @{
                Html.RenderPartial("Create", customer);
            }
        </div>

    </div>
</div>

<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           @{
                Html.RenderPartial("Edit", customer);
            }
        </div>

    </div>
</div>

<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*{
                Html.RenderPartial("Delete", customer);
            }*@
        </div>

    </div>
</div>












   